@import url('https://fonts.googleapis.com/css2?family=News+Cycle&family=Tilt+Prism&display=swap');

*,
html {
    /*scroll-behavior: smooth !important;*/
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #000000;
}

#title {
    align-self: center;
    font-family: 'News Cycle', sans-serif;
    color: #ffffff;
}

/*Genre Movie Titles*/
.sub-headers {
    align-self: center;
    color: #ffffff;
    font-family: 'News Cycle', sans-serif;
}

#filter-header {
    align-self: center;
}

/*Nav Bar CSS*/
.header {
    position: sticky;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: #aaaaaa;
}

p {
    text-decoration: none;
    color: #ffffff;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

#header-left {
    float: left;
}

#header-right {
    float: right;
}

/*Allows the scroll sections to look more modern by hiding the scroll bars
and smoothens the scroll*/
#scroll-bar,
#horror-bar,
#action-bar,
#comedy-bar,
#history-bar {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    /* scroll-behavior: smooth; */
}

.scroll-section {
    z-index: 10;
    display: flex;
    /* scroll-behavior: smooth; */
}

.scroll-section::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .7) 40%, #fff 70%);
}

/*Hides scroll bar */
#scroll-bar::-webkit-scrollbar {
    display: none;
}

#horror-bar::-webkit-scrollbar {
    display: none;
}

#action-bar::-webkit-scrollbar {
    display: none;
}

#comedy-bar::-webkit-scrollbar {
    display: none;
}

#history-bar::-webkit-scrollbar {
    display: none;
}

/*The indiviual card styling, applies to all movie cards*/
.movie-container {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 16px;
    margin: 20px;
    width: 300px;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    transition: opacity 2s;
    border: 2px solid #ffffff;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .06);
    border-radius: 20px;
    background-color: #000000;
}

/*Prevents the summary to elongate the div*/
.movie-container.visible {
    opacity: 1;
    max-height: 100%;
    margin-top: -0.1%;
    top: 0.1%;
    height: 100%;
}

/*Formatting contents within the movie cards*/
.movie-container>h5 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #ffffff;

}


.picture-container>img {
    height: 100px;
    border-radius: 15%;
}




.movie-container.hoverable:hover {
    max-height: 100%;
    margin-top: -0.1%;
    top: 0.1%;
    height: 100%;

}



.purchase-container {
    display: none;
}


/* Button CSS Styling  */
.arrow-button {
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
}


.arrow-container {
    width: 100px;
    height:
        100px;
    background: transparent;
    border-radius: 50%;
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-container:hover {
    transform: scale(2);
}

.arrow-container:active {
    transform: scale(1.5);
}



.arrow-left {
    color: #006064;
    display: block;
    height: 15px;
    width: 15px;
    border: 1px solid #aaa;
    border-width: 3px 3px 0 0;
    transform: rotate(225deg);
}

.arrow-right {
    color: #006064;
    display: block;
    height: 15px;
    width: 15px;
    border: 1px solid #aaa;
    border-width: 3px 3px 0 0;
    transform: rotate(45deg);
}

.movie-button {
    background-color: transparent;
    border-color: transparent;
    color: #fff;
    font-family: 'Tilt Prism', cursive;
    font-size: large;
}

.purchase-button {
    background-color: transparent;
    border-color: #fff;
    font-family: 'News Cycle', sans-serif;
    border-radius: 10%;
    color: #ffffff;
}

#modal-container {
    z-index: 999999;
    display: flex;
    position: fixed;
    left: 50%;
    top: 50%;
    height: 500px;
    width: 700px;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border-radius: 15%;
    display: none;
    border: 2px solid #ffffff;
    transform: translate(-50%, -50%);
    color: white;
}

#amount-text {
    color: #ffffff;
}

#purchased-modal {
    display: flex;
    align-self: center;
    /* overflow-x: scroll;
        overflow-y: hidden;
        scroll-behavior: smooth; */
}

#purchased-movies::-webkit-scrollbar {
    display: none;
}

#purchased-movies {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
    /*scroll-behavior: smooth;*/
}