@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#index_buttons {
    padding-top: 15px;
    margin: -20px;
    width: 250px;
    height: 125px;
}

#login_button {
    background-color: #adac6c;
    border-color: #ccc;
    color: rgb(236, 236, 236);
    width: 90px;
    height: 40px;
    font-weight: bold;
    margin-top: 10px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 130px;
}

#info_row {
    padding-top: 15px;
    margin: 0 auto;
    width: 320px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
}

#register_button {
    background-color: #adac6c;
    border-color: #ccc;
    color: rgb(236, 236, 236);
    width: 90px;
    height: 40px;
    font-weight: bold;
    margin-top: 10px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
}

#info_form_group {
    margin-top: 10px;
    width: 200px;
}

#product_card {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 302px;
    background-color: #cac2c2;
    border: 1px solid rgb(178, 178, 178);
    border-color: #f5f5f5;
    height: 500px;
}

.product_card-img {
    width: 300px;
    height: 300px;
}

.product_card-title {
    /* Centered */
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product_card-calories {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
    height: 60px;
}

.product_card-protein {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-style: italic;
}

.product_card-carbohydrates {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-style: italic;
}

.product_card-fats {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-style: italic;
}

#add_to_cart_button {
    background-color: #85bc4d;
    border-color: #ccc;
    color: rgb(32, 30, 30);
    width: 60px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}


#count_row {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    background-color: #fff9f9;
    border: 1px solid rgb(178, 178, 178);
    height: 50px;

}

.quanity {
    margin-left: 130px;
    margin-right: 130px;
    text-align: center;
    font-size: 20px;
}

#checkout_button {
    background-color: #49f4d8;
    border-color: #ccc;
    color: rgb(32, 30, 30);
    width: 220px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

body {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_box {
    background-color: #cac2c2;
    padding: 15px;
    box-shadow: 0 2px 16px rgba(0,0,0,.1);
    border-radius: 20px;
    padding: 20px;
}

.content_box .content {
    display: none;
    animation: moving .5s ease;
}
@keyframes moving {
    from{transform: translateX(50px); opacity: 0;}
    to{transform: translateX(0px); opacity: 1;}
}

.content_box .content.active {
    display: block;
}

.content_box .content h2{
    margin-bottom: 10 px;
}

.tab_box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgba(229,229,229);
}

.tab_box .tab_btn {
    font-size: 18px;
    font-weight: 600;
    color: #8a8686;
    background: none;
    border: none;
    padding: 18px;
    cursor: pointer;
}

.tab_box .tab_btn.active {
    color: #5c9354;
}

.line {
    position: absolute;
    top: 150px;
    left: 305px;
    width: 90px;
    height: 3px;
    background-color: #adac6c;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.content {
    color: #000000;
    font-weight: 200;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: #5c9354;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #85bc4d;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #dfdfdf;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.content {
    font: Poppins;
    font-size:larger;
    font-style: bold;
    font-weight: 400;
    color: #000000;
}

/* Control the left side */
.half {
    width:50%;
    display: table-cell;
   
    
}

/* If you want the content centered horizontally and vertically */
.centered{

    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
}