#index_buttons {
    padding-top: 15px;
    margin: 0 auto;
    width: 250px;
    height: 125px;
}

#login_button {
    background-color: #4963f4;
    border-color: #ccc;
    color: rgb(236, 236, 236);
    width: 100px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

#info_row {
    padding-top: 15px;
    margin: 0 auto;
    width: 320px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
}

#register_button {
    background-color: #444654;
    border-color: #ccc;
    color: rgb(236, 236, 236);
    width: 100px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

#info_form_group {
    margin-top: 10px;
    width: 200px;
}

/* <div class="card" id="product_card"> */
#product_card {
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 302px;
    background-color: #cac2c2;
    border: 1px solid rgb(178, 178, 178);
    height: 302px;
}

.product_card-img {
    display: block;
    width: 300px;
    height: 300px;
}

.product_card-title {
    /* Centered */
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product_card-text {
    /* Centered */
    display: none;
    position: absolute;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
    height: 60px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #09b6f0;
  }

.product_card:hover .overlay {
    opacity: 1;
}

.product_card-price {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-style: italic;
}

#add_to_cart_button {
    background-color: #49f4d8;
    border-color: #ccc;
    color: rgb(32, 30, 30);
    width: 60px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}


#count_row {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    background-color: #fff9f9;
    border: 1px solid rgb(178, 178, 178);
    height: 50px;

}

.quanity {
    margin-left: 130px;
    margin-right: 130px;
    text-align: center;
    font-size: 20px;
}

#checkout_button {
    background-color: #49f4d8;
    border-color: #ccc;
    color: rgb(32, 30, 30);
    width: 220px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    /* centered on the page */
    text-align: center;

}