<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/movieHomepageStyle.css">
    <title>Home Page</title>
</head>

<body>
    <div class="top">
        <div class="header">
            <div class="links">
                <a href=#>Login</a>
                <a href=#>Register</a>
            </div>
        </div>
        <div class="first">
            <div class="first-container">
                <h1 class="first-header">Niner-Flix</h1>
                <p class="first-header-subtext">We have over 200+ of the highest rated movies of all time!! What are you
                    waiting for? Sign up! </p>
                <button class="first-button">Sign up</button>
            </div>
        </div>
    </div>
    <div class="second">
        <h1 class="second-header"></h1>
        <div class="images-second">
            <div class="image-subtext">
                <img src="/static/HomePageImages/The Dark Knight.jpg">
                <p>this is some subtext under an illustration or image</p>
            </div>
            <div class="image-subtext">
                <img src="/static/HomePageImages/Schindlers-List.jpg">
                <p>this is some subtext under an illustration or image</p>
            </div>
            <div class="image-subtext">
                <img src="/static/HomePageImages/Whiplash.jpg">
                <p>this is some subtext under an illustration or image</p>
            </div>
            <div class="image-subtext">
                <img src="/static/HomePageImages/SpiderMan.jpg">
                <p>this is some subtext under an illustration or image</p>
            </div>
        </div>
    </div>

    <div class="third">
        <div id="quote-picture"><img src="/static/HomePageImages/Groot.jpg" alt=""></div>
        <div class="quote-container">
            <p class="quote">I am Groot</p>
            <p class="quoter">-Groot</p>
        </div>
    </div>

    <div class="fourth">
        <div class="fourth-text">
            <p class="fourth-header">Call to action! It's time!</p>
            <p class="fourth-subtext">Sign up for our product by clicking that button right over there!</p>
        </div>
        <button class="fourth-button"> Sign-up</button>

    </div>
    <div class="footer">
        <p> Copyright © ITSC 3155 </p>
    </div>
</body>

</html>