{% extends "layout.html" %}

{% block content %}
<div class="row" id="products_page">
    <div class="col-md-12">
        <!-- <h3>Labs</h3> -->
        <!-- <hr> -->
        <div class="row">
            <div>
                <div class="form-group">
                        <div class="row">
                            {% for product in products %}
                            <div class="col-md-4">
                                <div id={{product.id}}>
                                    <div class="product_card" id="product_card">
                                        <img src="{{ product.image_url }}" class="product_card-img" alt="...">
                                        <div class="product_card-body">
                                            <form action="/view" method ="post">
                                            <a href= "{{product.item_file}}" download="{{product.item_file}}">
                                            <h5 class="product_card-title">{{ product.item_name }}</h5>
                                            </a>
                                            <p class="product_card-text">{{ product.info }}</p>
                                            <button type ="submit" name ="{{product.id}}" class ="product_button btn btn-primary" id="product_button">View Lab</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                </div>
            </form>
        </div>
    </div>

</div>
    {% endblock %}