<!-- Template HTML file  -->
<!DOCTYPE html>
<html>

<head>
    <title>Private Nutrient Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title">NutriTracker</h1>
                <div class="tab_box">
                    <button class="tab_btn active">Home</button>
                    <button class="tab_btn">About</button>
                    <button class="tab_btn">Intake</button>
                    <div class="dropdown">
                        <button class="tab_btn">Products</button>
                        <div class="dropdown-content">
                            <a href="#" id="meats">Meats</a>
                            <a href="#" id="vegetables">Vegetables</a>
                            <a href="#" id="fruits">Fruits</a>
                            <a href="#" id="grains">Grains</a>
                            <a href="#" id="dairy">Dairy</a>
                        </div>
                    </div>
                    <div class="line" ></div>
                </div>
                <div class="content_box">
                    <div class="content active">
                        <h2>Home</h2>
                        <p>
                            Nutrition Made Simple. <br>
                            No subscriptions. No worries. <br>
                            Take your diet into your own hands. 
                    
                        </p>
                    </div>

                    <div class="content">
                        <h2>About</h2>
                        <p>
                            We are group 7.
                          
                        </p>
                    </div>

                    <div class="content">
                        <h2>Intake</h2>
                        <p>
                            Show intake for user.
                        </p>
                    </div>

                    <div class="content">
                        <h2>Products</h2>
                        <p>
                            {% block content %}{% endblock %}
                        </p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <script>
        const tabs = document.querySelectorAll('.tab_btn');
        const all_content = document.querySelectorAll('.content');

        tabs.forEach((tab, index) => {
            tab.addEventListener('click', (e) => {
                tabs.forEach(tab => (tab.classList.remove('active')));
                tab.classList.add('active');

                var line = document.querySelector('.line');
                line.style.width = e.target.offsetWidth + "px";
                line.style.left = e.target.offsetLeft + "px";

                all_content.forEach(content => {
                    content.classList.remove('active');
                });
                all_content[index].classList.add('active');
            });
        });
    </script>
</body>