<!-- Template HTML file  -->
<!DOCTYPE html>
<html>

<head>
    <title>Private Online Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/movieWebsiteStyle.css">
    <link rel="stylesheet" href="./static/css/movieHomepageStyle.css">
    <link rel="stylesheet" href="./static/css/style.css">
    <title>Movie Store</title>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            let header = document.getElementById("header-right")
            let username = "{{username}}";
            let session = "{{session}}".match('^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$');

            if ((username == null || username == "None") && localStorage.getItem("username") != null) {
                username = localStorage.getItem("username");
            }
            if ((username != null && username != "None") && username != localStorage.getItem("username")) {
                localStorage.setItem("username", username);
            }

            if (session == null && localStorage.getItem("session") != null) {
                session = localStorage.getItem("session");
            }
            if (session != null && session != localStorage.getItem("session")) {
                localStorage.setItem("session", session);
            }

            if (session == null) {
                createLoginButton();
            } else {
                validateLogin();
            }
        })



        async function validateLogin() {
            const resp = await fetch('/validate',
                {
                    method: 'POST',
                    body: JSON.stringify({
                        username: localStorage.getItem("username"),
                        session: localStorage.getItem("session")
                    }), headers: {
                        "Content-type": "application/json; charset=UTF-8"
                    }
                }
            ).catch(err => console.log(err));
            let json = await resp.json();
            if (json["status"] == "ERROR") {
                localStorage.removeItem("username");
                localStorage.removeItem("session");
                createLoginButton();
            } else {
                document.getElementById("welcomeHeader").innerHTML = "Welcome " + localStorage.getItem("username") + "!";
                createLogoutButton();
            }
        }

        function createLogoutButton() {
            let logout = document.createElement("li");
            let a = document.createElement("a")
            logout.id = "logout-button";
            a.href = "/logout";
            a.innerHTML = "Sign Out";

            a.addEventListener('click', () => {
                localStorage.removeItem("username");
                localStorage.removeItem("session");
            });

            logout.appendChild(a);
            document.getElementById("header-right").appendChild(logout);
        }

        function createLoginButton() {
            let login = document.createElement("li");
            let a = document.createElement("a")
            login.id = "login-button";
            a.href = "/login";
            a.innerHTML = "Login/Register";

            login.appendChild(a);
            document.getElementById("header-right").appendChild(login);
        }

    </script>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 id="title">Niner Flix</h1>
                <p class="first-header-subtext">We have over 200+ of the highest rated movies of all time!! What are you
                    waiting for? Sign up today!</p>
                <h5 id="welcomeHeader">Welcome!</h5>
                <div id="header" class="header">
                    <ul id="header-left" class="left-links">
                        <li><a href="/">About</a></li>
                        <li><a href="/movieHomepage">Store</a></li>
                        <li>
                            <div id="purchased-modal">
                                <button id="cart-button">View Cart</button>
                                <div id="modal-container">
                                    <h1>Amount Purchased</h1>
                                    <h1 id="amount-text"></h1>
                                    <button id="cart-purchase">purchase</button>
                                    <div id="purchased-movies">
                                        <!--Generated Movie goes here-->
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul id="header-right" class="right-links">
                        
                    </ul>
                </div>
                <hr>
                <div class="content">
                    <!-- This is where the content will be rendered -->
                    {% block content %}{% endblock %}

                </div>

                <div class="footer">
                    <p> Copyright © ITSC 3155 </p>
                </div>
            </div>
        </div>
    </div>
</body>