{% extends "layout.html" %}
{% block content %}
<script src="/static/script.js"></script>
<p>{{username}}</p>
<h2 class="sub-headers">All Movies</h2>
<div class="scroll-section">
    <div class="arrow-button">
        <div class="arrow-container" id="left-all-movies">
            <i class="arrow-left"></i>
        </div>
    </div>
    <div id="scroll-bar">
    </div>
    <div class="arrow-button">
        <div class="arrow-container" id="right-all-movies">
            <i class="arrow-right"></i>
        </div>
    </div>
</div>
<h2 class="sub-headers">Horror Movies</h2>
<div class="scroll-section">
    <div class="arrow-button">
        <div class="arrow-container" id="left-horror-movies">
            <i class="arrow-left"></i>
        </div>
    </div>
    <div id="horror-bar">
    </div>
    <div class="arrow-button">
        <div class="arrow-container" id="right-horror-movies">
            <i class="arrow-right"></i>
        </div>
    </div>
</div>
<h2 class="sub-headers">Comedy Movies</h2>
<div class="scroll-section">
    <div class="arrow-button">
        <div class="arrow-container" id="left-comedy-movies">
            <i class="arrow-left"></i>
        </div>
    </div>
    <div id="comedy-bar">
    </div>
    <div class="arrow-button">
        <div class="arrow-container" id="right-comedy-movies">
            <i class="arrow-right"></i>
        </div>
    </div>
</div>
<h2 class="sub-headers">History Movies</h2>
<div class="scroll-section">
    <div class="arrow-button">
        <div class="arrow-container" id="left-history-movies">
            <i class="arrow-left"></i>
        </div>
    </div>
    <div id="history-bar">
    </div>
    <div class="arrow-button">
        <div class="arrow-container" id="right-history-movies">
            <i class="arrow-right"></i>
        </div>
    </div>
</div>
<h2 class="sub-headers">Action Movies</h2>
<div class="scroll-section">
    <div class="arrow-button">
        <div class="arrow-container" id="left-action-movies">
            <i class="arrow-left"></i>
        </div>
    </div>
    <div id="action-bar">
    </div>
    <div class="arrow-button">
        <div class="arrow-container" id="right-action-movies">
            <i class="arrow-right"></i>
        </div>
    </div>
</div>
{% endblock %}