<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/movieWebsiteStyle.css">
    <title>Document</title>
</head>

<body>
    <div class="header">
        <ul class="left-links">
            <li><a href="#">About</a></li>
            <li><a href="#">Store</a></li>
        </ul>
        <ul class="right-links">
            <li><a href="#">View Cart</a></li>
            <li><a href="#">Sign out</a></li>
        </ul>
    </div>
    <h1 id="title">Movie Store</h1>
    <h2 class="sub-headers">All Movies</h2>
    <div class="scroll-section">
        <button class="left-button" id="left-all-movies">left</button>
        <div id="scroll-bar">
        </div>
        <button class="right-button" id="right-all-movies">right</button>
    </div>
    <h2 class="sub-headers">Horror Movies</h2>
    <div class="scroll-section">
        <button class="left-button" id="left-horror-movies">left</button>
        <div id="horror-bar">
        </div>
        <button class="right-button" id="right-horror-movies">right</button>
    </div>
    <h2 class="sub-headers">Comedy Movies</h2>
    <div class="scroll-section">
        <button class="left-button" id="left-comedy-movies">left</button>
        <div id="comedy-bar">
        </div>
        <button class="right-button" id="right-comedy-movies">right</button>
    </div>
    <h2 class="sub-headers">History Movies</h2>
    <div class="scroll-section">
        <button class="left-button" id="left-history-movies">left</button>
        <div id="history-bar">
        </div>
        <button class="right-button" id="right-history-movies">right</button>
    </div>
    <h2 class="sub-headers">Action Movies</h2>
    <div class="scroll-section">
        <button class="left-button" id="left-action-movies">left</button>
        <div id="action-bar">
        </div>
        <button class="right-button" id="right-action-movies">right</button>
    </div>
    <script src="/static/script.js"></script>
</body>

</html>